html, body, #root {
  height: 100%;
}

:root {
  --primary: #121212;
}

.flux-container {
  width: 65%;
}

.btn-primary {
  color: #121212;
  border-color: #121212;
}

.btn-outline-primary {
  color: #121212;
  border-color: #121212;
}

.btn-outline-primary:hover {
  background-color: #121212;
  border-color: #121212;
}

.jumbotron {
  background-color: transparent;
}

@media screen and (max-width: 500px) {
  .container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .flux-container {
    width: 90%;
  }
}

.alert-danger {
  color: #ecf0f1;
  background-color: #c0392b;
}

/* Removes the blue border around boostrap components */
input[type], textarea {
  outline: none;
  box-shadow:none !important;
  border:1px solid #ccc !important;
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, 
  .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, 
  .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #121212;
  border-color: #121212;
}

#text-logo {
  display: inline-block;
}

#picture-logo {
  vertical-align: unset;
}

/* Home auth main container */
.home-auth-container {
  margin: 0;
  padding: 0;
  padding-left: 275px;
  transition: padding-left 1s ease;
}

.sidebar-transition-hide.home-auth-container {
  padding-left: 0px;
  transition: padding-left 1s ease;
}

/* Community side bar */
.community-sidebar-wrapper {
  background: #212121;
  left: 0;
  position: fixed;
  overflow-y: auto;
  transition: all 0.5s ease;
  z-index: 1000;
  height: 100%;
  width: 75px;
}

.community-item-wrapper {
  padding-top: 15px;
}

.community-item {
  width: 48px;
  height: 48px;
}

.sidebar-wrapper .nav-item {
  width: 100%;
  text-align: center;
}

/* Discussion side bar */
.discussion-sidebar-wrapper {
  background: #121212;
  left: 75px;
  position: fixed;
  overflow-y: auto;
  transition: all 1s ease;
  z-index: 1000;
  height: 100%;
  width: 200px;
  padding-top: 10px;
}

.discussion-item-wrapper {
  padding-left: 5px;
  padding-top: 10px;
}

.discussion-item-wrapper .edit {
  visibility: hidden;
  color: #fff !important;
  cursor: pointer;
  float: right;
  padding-right: 5px;
}

.discussion-item-wrapper:hover .edit {
  visibility: visible;
}

.discussion-item {
  color: #fff !important;
  cursor: pointer;
  padding-left: 5px;
}

.discussion-item:hover {
  color: #ccc !important;
}

.sidebar-transition-hide .community-sidebar-wrapper {
  left: -75px;
  transition: left 1s ease;
}

.sidebar-transition-hide .discussion-sidebar-wrapper {
  left: -200px;
  transition: left 1s ease;
}

.discussion-sidebar-wrapper .nav-item {
  text-align: left;
}

.main-content {
  position: relative;
  overflow-x: hidden;
  height: 100%;
}

@media screen and (max-width: 640px) {
  .main-content {
    position: absolute;
    left: 0px;
    width: 100%;
  }

  .message-form {
    z-index: 500;
    position: fixed;
    left: 0px !important;
  }
}

.main-content .container-fluid {
  padding: 0;
}

.main-content .navbar-nav {
  height: 40px;
}

/* Burger button for side bar */
.button-toggle-wrapper {
  display: inline-block;
  cursor: pointer;
  z-index: 1000;
}

.button-toggle-wrapper .bar1, .bar2, .bar3 {
  width: 35px;
  height: 4px;
  background-color: #fff;
  margin: 7px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.sidebar-transition-show .button-toggle-wrapper .bar1 {
  -webkit-transform: rotate(-45deg) translate(-10px, 7px) ;
  transform: rotate(-45deg) translate(-10px, 7px) ;
}

/* Fade out the second bar */
.sidebar-transition-show .button-toggle-wrapper .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.sidebar-transition-show .button-toggle-wrapper .bar3 {
  -webkit-transform: rotate(45deg) translate(-7px, -7px) ;
  transform: rotate(45deg) translate(-7px, -7px) ;
}

.navbar-logged {
  position: fixed;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

/* Message input */
.message-form {
  bottom: 0;
  left: 275px;
  transition: left 1s ease;
  height: 38px;
  z-index: 500;
}

.sidebar-transition-hide .message-form {
  left: 0px;
  transition: left 1s ease;
}

.messages-wrapper {
  padding-top: 60px;
  padding-bottom: 45px;
}

.message-item-wrapper {
  padding: 5px;
}

.message-item-username {
  margin-bottom: 3px;
  color: #192a56;
}

.message-item-content {
  display: inline;
  color: #000;
  padding: 6px;
  padding-left: 0px;
}

.form-join-community button {
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 5px;
}

.form-create-community button {
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 5px;
}