
:root {
  --primary: #121212;
}

.container-fluid {
  width: 65%;
}

.btn-primary {
  color: #121212;
  border-color: #121212;
}

.btn-outline-primary {
  color: #121212;
  border-color: #121212;
}

.btn-outline-primary:hover {
  background-color: #121212;
  border-color: #121212;
}

.jumbotron {
  background-color: transparent;
}

.alert-danger {
  color: #ecf0f1;
  background-color: #c0392b;
}

/* Removes the blue border around boostrap components */
input[type], textarea {
  outline: none;
  box-shadow:none !important;
  border:1px solid #ccc !important;
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #121212;
  border-color: #121212;
}